.container-text {
  padding: 300px;
}

.container-text span {
  color: #44a3a3;
}

.container-text h3 {
  color: hsl(0, 0%, 19%);
  font-size: 3vh;
}

.container-text h1 {
  color: hsl(0, 0%, 19%);
  font-size: 8vh;
}

/*Novidades*/

.nov1 {
  -webkit-box-shadow: 5px 13px 87px -3px rgb(163, 160, 160);
  -moz-box-shadow: 5px 13px 5px -3px rgb(88, 87, 87);
  box-shadow: 5px 13px 87px -3px rgb(80, 80, 80);
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
}

.nov-text h3 {
  padding: 8px;
  color: hsl(0, 0%, 19%);
  font-size: 50px;
}

.nov-text p {
  padding: 10px;
  color: hsl(0, 0%, 19%);
  font-size: 30px;
}

.btn {
  padding: 5px 0px 0px 5px;
  margin-top: 15px;
}

.button {

}


@media (max-width: 1450px) {
  .nov1 {
    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .nov1 img {
    width: 100%;
  }

  .nov-text h3 {
    padding: 8px;
    color: hsl(0, 0%, 19%);
    font-size: 30px;
    text-align: center;
  }
  
  .nov-text p {
    padding: 10px;
    color: hsl(0, 0%, 19%);
    font-size: 20px;
    text-align: center;
  }

  .btn {
    padding: 5px 0px 0px 5px;
    margin-top: 15px;
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 1094px) {

  .container-text {
    padding-top: 20%;
    text-align: center;
    display: flex;
  }
  .container-text span {
    color: #44a3a3;
  }
  
  .container-text h3 {
    color: hsl(0, 0%, 19%);
    font-size: 30px;
    text-wrap: nowrap;
    text-align: center;
  }
  
  .container-text h1 {
    color: hsl(0, 0%, 19%);
    font-size: 100px;
    text-wrap: nowrap;
    text-align: center;
  }
}

@media (max-width: 953px) {
  .container-text {
    padding: 200px;
  }

  .container-text h3{
    font-size: 30px;
  }
  
}

@media (max-width: 755px) {
  .container-text h3{
    font-size: 30px;
  }

  .container-text h1{
    font-size: 80px;
  }
}

@media (max-width: 685px) {
  .container-text h3{
    font-size: 30px;
  }

  .container-text h1{
    font-size: 50px;
  }
}

