header {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  -webkit-box-shadow: 5px 13px 10px -3px rgba(32, 31, 31, 1);
  -moz-box-shadow: 5px 13px 10px -3px rgba(32, 31, 31, 1);
  box-shadow: 5px 1px 10px 1px rgba(32, 31, 31, 0.377);
}

.logo i {
  color: #303030;
  font-size: 50px;
  margin-left: 15px;
}

#navlist {
  display: flex;
  margin-right: auto;
  padding:5px;
  align-items: center;
}
#navlist ul li {
  text-decoration: none;
  list-style: none;
  padding: 8px;
}
#navlist ul {
  display: flex;
}
#navlist a {
  color: #303030;
  text-decoration: none;
  padding: 10px;
}
#navlist a:hover {
  color: #50c4c4;
  transform: scale(0.9);
}

.location {
  margin-left: auto;
  padding: 10px;
}

.location a {
  text-decoration: none;
  color: #303030;
}

.location a:hover {
  color: #50c4c4;
}

.btn-nav button{
  font-size: 15px;
  color: #000;
  background-color: whitesmoke;
  border: #000;
  margin-right: 10px;
}

#btn-mobile {
  display: none;
}

@media (max-width: 800px) {
  #btn-mobile {
    display: block;
    margin-left: auto;
  }

  #navlist {
    display: none;
  }

  .location {
    display: none;
  }

  .active {
    display: flex;
  }
}




